body {
    width: 100%;
    margin: 0% auto;
}

.solid-text {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
    height: 50px;
    margin-top: 90px;

}

.moving-text {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    height: 100px;

}

.nav-mid {
    background-color: rgb(77, 74, 74);
    color: white;
    padding: 20px 30px 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    border-radius: 0.5rem;
    justify-content: center;
    height: 60px;
}

.nav-mid:hover {

    background-color: #FF5300;
}


#nav {
    text-align: center;
    font-size: 15px;
    text-emphasis-color: white;
    justify-content: space-between;
}

#form {
    height: 150px;
    border-radius: 50%;
    font-weight: bolder;
    margin-left: 320px;
}

.form-input {
    border-radius: 8px;
    height: 40px;
    width: 850px;
}

.search-input {
    height: 40px;
    border-radius: 8px;
    width: 80px;
}

.nav-mid i {
    padding: -8px;
}

#marq {
    text-align: center;
    height: 160px;
    margin: 0%;
}


input {
    width: 50%;
    height: 20%;

    color: black;
}

.fa {
    padding: 8px;
    font-size: 15px;
    width: 24px;
    text-align: center;
    text-decoration: none;
    margin: 20px 10px;
    margin-bottom: 12px;
    border-radius: 40px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #acaeb0;
    color: white;
}

.fa-twitter {
    background: #acaeb0;
    color: white;
}


.fa-linkedin {
    background: #acaeb0;
    color: white;
}

.fa-youtube {
    background: #acaeb0;
    color: white;
}

.fa-search {
    color: white;
    size: 10px;
}

.fa-gift {
    size: 10em;
}

.fa-instagram {
    background: #acaeb0;
    color: white;
}

.icons {
    text-align: center;
}

.footer-logo {
    text-align: center;
    margin-right: 20px;
}

.submit-btn {
    width: 100px;
    height: 45px;
    border-radius: 8px;
    background-color: white;
}

.vis-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    color: rgb(194, 180, 180);
    font-size: 20px;
    padding-bottom: 25px;
    font-family: sans-serif;
}

.vis-btn1, .vis-btn2, .vis-btn3, .vis-btn4 {
    padding-top: 15px;

}

.btn1-main, .btn2-main, .btn3-main, .btn4-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn1-main:hover {
    color: white;
}


.btn2-main:hover {
    color: white;
}

.btn3-main:hover {
    color: white;
}

.btn4-main:hover {
    color: white;
}

.nav-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 18%;
    box-shadow: 0 0.7px rgb(233, 229, 229);
}

.search-input {
    width: 350px;
    height: 40px;
    margin: 5px;
    background: transparent;
    border: none;
    color: white;

}

.search text {
    color: white;
}

.nav-link {
    background-color: rgb(77, 74, 74);
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
    background: transparent;
}

::placeholder {
    color: rgb(226, 226, 226);
    opacity: 0.8;
}

.form-input ::placeholder {
    font-weight: 700;
    color: rgb(58, 57, 57);
}

.bottom-text {
    font-family: sans-serif;
}